{% extends 'base.html' %}

{% block content %}



<table class="table">
    <thead>
      <tr>
        <th scope="col">JOB ID </th>
        <th scope="col">Name </th>
        <th scope="col">Make </th>
        <th scope="col">Model </th>
        <th scope="col">Reciept No</th>
        <th scope="col">Amount</th>
        <th scope="col">Payment Type</th>
        
        <th scope="col">User</th>
        <th scope="col">Date</th>
        

      </tr>
    </thead>
    <tbody>
        {% for c_cart_context in c_cart_context reversed %}
      <tr>
        <th scope="row" > <a href="{% url 'job_detail_page' c_cart_context.c_cart.id  %}">{{c_cart_context.c_cart.id}}</a></th> 
        <td>{{c_cart_context.c_cart.customer.full_name}}</td>
        <td>{{c_cart_context.c_cart.make.make}}</td>
        <td>{{c_cart_context.c_cart.model.model}}</td>
        <td><a href="#">{{c_cart_context.reciept}}</a></td>
        <td>{{c_cart_context.c_cart.cost}}</td>
        <td>{{c_cart_context.payment_type}}</td>
        <td>{{c_cart_context.sale_person}}</td>
        <td>{{c_cart_context.date}}</td>
        
      </tr>
      {% endfor %}
    </tbody>
  </table>


{% endblock %}